#about {
    width: 100%;
    min-height: 700px;
    background: /*#2E8CFF;*/
    #4294FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: skewY(4deg);
}

.aboutHeader {
    margin: 1rem 0 3rem 0;
    width: 90%;
    color: #FAFAFA;
    text-align: left;
}

.about-paragraph {
    letter-spacing: 2px;
    line-height: 1.5;
    color: #FAFAFA;
    width: 70%;
    position: relative;
    margin-left: 2rem;
}

.about-paragraph::before {
    position: absolute;
    height: 100%;
    width: 20%;
    left: -2rem;
    top: 2rem;
    content: '';
    border-bottom: 3px dotted #FAFAFA;
    border-left: 3px dotted #FAFAFA;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}

.about-photo {}

.leveling-skew {
    transform: skewY(-4deg);
}


/*** media queries ***/

@media(max-width: 992px) {
    .aboutHeader {
        width: 90%;
    }
    .about-paragraph {
        margin: 0 1rem 0 1rem;
        width: 90%;
    }
    .about-technologies>img {
        transform: scale(0.8);
    }
}

@media(max-width: 993px) {
    .about-paragraph::before {
        display: none;
    }
}

@media(min-width: 993px) and (max-width: 1200px) {
    .about-paragraph {
        max-width: 90%;
    }
}