footer {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4294FF;
}

.footer-arrow {
    margin-right: 2rem;
}

.footer-arrow:hover {
    transform: scale(1.2);
}

.footer-paragraph {
    flex: 1;
    margin-left: 1rem;
    color: #FFFFFF;
    font-weight: 600;
}