.nav-icon {
    width: 33px;
    height: 20px;
    margin: 7px 7px;
    position: absolute;
    /*top: 4rem;*/
    top: 2.5rem;
    right: 10%;
    cursor: pointer;
    margin: auto;
}

.nav-icon span {
    background-color: #2E8CFF;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 2px;
    transition-duration: 500ms
}

.nav-icon span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.nav-icon span:nth-child(2) {
    top: 9px;
    /*left: 0px;*/
    width: 90%;
    right: 0;
    opacity: 1;
}

.nav-icon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}

.nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
    background: #111111;
}

.nav-icon.open span:nth-child(2) {
    opacity: 0;
}

.nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
    background: #111111;
}