    @import url('/css/header.css');
    @import url('/css/about.css');
    @import url('/css/portfolio.css');
    @import url('/css/contact.css');
    @import url('/css/footer.css');
    @import url('/css/hamburger.css');
    @import url('/css/transformDiv.css');
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: /* #6c63ff; */
        #2E8CFF;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    html {
        font-size: 16px;
        scroll-behavior: smooth;
    }
    
    body {
        max-width: 1800px;
        margin: 0 auto;
        background: #f7f7f7;
    }
    
    h2 {
        font-size: 30px;
    }
    
    .scroll-indicator {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: transparent;
    }
    
    .progress-bar {
        height: 6px;
        opacity: 0.7;
        width: 0%;
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    }
    
    .exclamation-mark {
        font-size: 48px;
        background: -webkit-linear-gradient(45deg, rgba(253, 29, 29, 1), rgba(252, 176, 69, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /* dark mode styles */
    
    .dark-theme {
        background-color: #202020 !important;
    }
    
    .dark-font {
        color: #ECE7E7 !important;
    }
    /* end dark mode */
    /*** media queries ***/
    
    @media(max-width: 576px) {
        h2 {
            font-size: 1.5rem;
        }
    }